<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socials</title>
    <link rel="shortcut icon" href="favicon.ico" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://use.fontawesome.com/a73d65bbee.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark mb-1 animate-top" style="font-weight:800;font-size: 1.2rem; font-family: 'Architects Daughter', cursive;letter-spacing: 2px;color:white;background-color: rgba(0,0,0,0.95);">
    <a class="navbar-brand" href="/"><i class="fa fa-cutlery"></i> Socials</a>
    <button style="color:white;background-color: rgba(0,0,0,0.95);" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color:white;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= typeof page !== 'undefined' && page === 'socials' ? 'active' : '' %>">
          <a href="/socials" class="nav-link"><i class="fa fa-home"></i> Home</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item <%= typeof page !== 'undefined' && page === 'contact' ? 'active' : '' %>"><a href="/contact" class="nav-link"><i class="fa fa-envelope" aria-hidden="true"></i> Contact</a></li>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'contact' ? 'active' : '' %>"><a href="/documentation" class="nav-link"><i class="fa fa-book" aria-hidden="true"></i> Documentation</a></li>
          <% if(!currentUser){ %>
              <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                <a href="/login" class="nav-link"><i class="fa fa-sign-in" aria-hidden="true"></i> SignIn</a>
              </li>
              <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                <a href="/register" class="nav-link"><i class="fa fa-user-plus" aria-hidden="true"></i> SignUp</a>
              </li>
          <% } else { %>
              <li class="nav-item">
                <a href="" class="nav-link">Hey ! <%= currentUser.firstName || currentUser.googlefirstName %> <i class="fa fa-user"></i></a>
              </li>
              <li class="nav-item">
                <a href="/logout" class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
              </li>
          <% } %>
      </ul>
    </div>
  </nav>
    <div class="container">
      <% if(error&& error.length>0){%>
        <div class="alert alert-danger animate-zoom" role="alert" style="font-weight:800;font-size:1.2rem"><%=error%></div>
      <% } %>  
      <% if(success&& success.length>0){%>
      <div class="alert alert-success animate-zoom" role="alert" style="font-weight:800;font-size:1.2rem"><%=success%></div>
      <% } %>  
    </div>
