<%- include("../partials/header") %> 
<style>
    body{
        background-image: url(/images/background.jpg);
        font-family: 'Architects Daughter', cursive;
letter-spacing: 2px;
         /* font-family: 'Roboto', sans-serif;  */
 
        background-size:     cover;  
    background-position: center center; 
    }
    .btn:hover{
             background-color: white;
             color: black;
         }
</style>
<div class="bodyy hey" >
     
<div class="container" >
    <div class="admin text-center">
        <% if(currentUser && currentUser.isAdmin){ %>
            <h2 style="background-color: rgba(0,0,0,0.75);color:white;">Hey! Admin <i class="fa fa-user"></i></h2>
            <% } %> 
    </div>
    <header class="jumbotron hey text-center" style="background-image: url(/images/background.jpg);background-repeat: no-repeat;background-size:cover;box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);border-radius: 5px;">
        <div class="conntainer">
            <h1 class="display-2 bigbox" style="color:whitesmoke;text-shadow: 5px 6px 5px rgb(0, 0, 0);font-weight:700;">Socials <i class="fa fa-cutlery"></i></h1>
            <h2 style="color:rgb(253, 253, 253);text-shadow: 3px 4px 3px rgb(0, 0, 0);font-weight:700;">View Our Best "The Best !"<i class="fa fa-fire bigbox"></i> </h2>
            <div class="text-center">
                <form action="/socials" method="GET" class="text-center" style="width:100%">
                    <div class="form-group text-center" style="text-align:center;justify-content:center">
                        <input type="text" name="search" class="text-center" placeholder="Search Your Favourites" style="width:60%;height:40px;background-color:rgb(0, 0, 0);color:rgb(255, 255, 255);border: 1px solid white;border-radius: 5px;">
                        <input type="submit" value="Search" class="btn text-center bigbox" style="background-color:rgb(0, 0, 0);color:rgb(255, 255, 255);box-shadow: 0 7px 10px 7px rgba(0, 0, 0, 0.1);border: 2px solid white;border-radius: 5px;">
                    </div>
                    </form>
            </div>
            <p>
            <a class="btn btn-light btn-lg bigbox" href="/socials/new" style="background-color:rgb(0, 0, 0);color:rgb(255, 255, 255);box-shadow: 0 7px 10px 7px rgba(0, 0, 0, 0.1);border-radius: 5px;">Add new Social <i class="fa fa-plus"></i></a>
        </p>
        
        </div>
        
    </header>
    
   
   <div class="row text-center hey"  style="display: flex;flex-wrap: wrap;">
   <div class="col-lg-12 hey">
   <%if(noMatch!==null){%>
   <h1 style="background-color:rgba(0,0,0,0.75);color:white"><%=noMatch%></h1>
   <%}%>
   </div>
    <% social.forEach((social)=>{ %> 
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="new-box bigbox" style="margin:10px;padding:0 0 5px 0 ">
            <div class="thumbnail">
                <img src="<%= social.image %>"  > 
                <div class="caption" >
                    <h4 style="padding:20x;text-shadow: 5px 6px 5px rgb(0, 0, 0);font-weight:700;letter-spacing: 1px;"> <%= social.name %> </h4>
                </div>    
               
                <p>
                    <a href="/socials/<%= social._id %> " class="btn btn-lg bigbox more-info" style="background-color: #000000;color: rgb(255, 255, 255);border: 2px solid rgba(255, 255, 255);box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);border-radius: 5px;">More Info  <i class="fa fa-search bigbox"></i></a>
                </p>
            </div>
            </div>
            
        </div>
    <% }); %> 
   </div>
    
    
</div>
</div>
<%- include("../partials/footer") %>