<%- include("../partials/header") %> 
<style>
    body{
        background-color: #000000;
background-image: url("https://jooinn.com/images/italian-food-background-1.jpg");
font-family: 'Architects Daughter', cursive;
letter-spacing: 2px;
/* font-family: 'Source Code Pro', monospace; */

        
    }
     h4, h2, p{
            color:white;
            background-attachment: black;
        }
</style>
<div class="container" style="border: 1px solid rgba(255, 255, 255);box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);">
    <div class="row">
        <div class="col-md-3">
            <br>
            <div class="list-group">
                <li class="list-group-item" style="background-color: rgba(0, 0, 0, 0.85);color: blanchedalmond;border: 1px solid rgba(255, 255, 255);box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);"><i class="fa fa-home"></i> Main</li>
                <li class="list-group-item" style="background-color: rgba(0, 0, 0, 0.75);color: blanchedalmond;border: 1px solid rgba(255, 255, 255);box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);"><i class="fa fa-globe"></i> View Website</li>
                <li class="list-group-item" style="background-color: rgba(0, 0, 0, 0.65);color: blanchedalmond;border: 1px solid rgba(255, 255, 255);box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);"><i class="fa fa-map-marker"></i> Location</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= social.image %>" > 
                  <div class="caption-full" style="background-color: rgba(0, 0, 0, 0.75);">
                      <h4 class="pull-right">$ <%= social.price %> /night</h4>
                      <h4> <a href=""><%= social.name %></a></h4>
                      <p><%=social.description%></p>
                      <p>
                         <em> Submitted By : </em><%=social.author.username%></p>
          <% if(currentUser&&social.author.id.equals(currentUser._id)){%> 
                         <a class="btn btn-warning" href="/socials/<%=social._id%>/edit">Edit</a>
    <form id="deleteForm" action="/socials/<%= social._id %>?_method=DELETE" method="post">
    <button class="btn btn-danger">Delete</button>
    </form>
    <% }  %> 
                  </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <br>
                    <a class="btn btn" style="background-color: #000000;color: rgb(255, 255, 255);border: 2px solid rgba(255, 255, 255);box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);" href="/socials/<%=social._id%>/comments/new">Add a comment  </a>
                </div> 
                <hr>
                    <% social.comments.forEach((comment)=>{%>
                        <div class="row">
                            <div class="col-md-12" style="background-color: rgba(0, 0, 0,0.80);">
                               <strong style="color: whitesmoke"><%= comment.author.username%></strong> 
                                <span class="pull-right" id="p1" style="color: rgb(240, 231, 231)"></span>
                                <p style="color: white"> <%= comment.text%></p>
                                <% if(currentUser&&comment.author.id.equals(currentUser._id)){%>
                            <a class="btn btn-warning" 
                            href="/socials/<%=social._id%>/comments/<%= comment._id %>/edit">
                            Edit</a>
                            <form id="deleteForm" action="/socials/<%= social._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                                <button class="btn btn-danger">Delete</button>
                                </form>
                                <% }  %> 
                            </div>
                        </div>
                       
                                -
                               
                           
                    <%});%>
                    
                
            </div>
        </div>
    </div>
</div>
<script>

    document.getElementById("p1").innerHTML = Date();

    var currentDate = new Date();

    document.getElementById("p2").innerHTML = currentDate;

</script>



    

<%- include("../partials/footer") %>  

