<%- include("../partials/header") %> 
<style>
    body{
        background-color: #000000;
background-image: url("https://jooinn.com/images/italian-food-background-1.jpg");
font-family: 'Architects Daughter', cursive;
letter-spacing: 2px;
/* font-family: 'Source Code Pro', monospace; */

        
    }
     h4, h2, p{
            color:white;
            background-attachment: black;
        }
</style>
<div class="container" style="border: 1px solid rgba(255, 255, 255);box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);">
    <div class="row">
        <div class="col-md-3">
            <br>
            <div class="list-group">
                <li class="list-group-item bigbox" style="background-color: rgba(0, 0, 0, 0.85);color: rgb(255, 255, 255);border: 1px solid rgba(255, 255, 255);box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);font-weight:700;font-size: 1.5rem;"><i class="fa fa-home"></i><a style="text-decoration:none" href="/socials/"> Main</a></li>
                <li class="list-group-item bigbox" style="background-color: rgba(0, 0, 0, 0.75);color: rgb(255, 255, 255);border: 1px solid rgba(255, 255, 255);box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);font-weight:700;font-size: 1.5rem;"><i class="fa fa-globe"></i><a style="text-decoration:none" href=""> View Website</a></li>
                <li class="list-group-item bigbox" style="background-color: rgba(0, 0, 0, 0.65);color: rgb(255, 255, 255);border: 1px solid rgba(255, 255, 255);box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);font-weight: 700;font-size: 1.5rem;"><i class="fa fa-map-marker"></i><a style="text-decoration:none" href=""> Location</a></li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive bigbox" src="<%= social.image %>" > 
                  <div class="caption-full" style="background-color: rgba(0, 0, 0, 0.75);font-weight:700;">
                      <h4 style="font-weight:700;font-size: 1.8rem;color:rgb(255, 244, 225);" class="pull-right bigbox">$ <%= social.price %> /night</h4>
                      <h4 class="bigbox" style="font-weight:700;font-size: 1.8rem;"><a href="" style="text-decoration:none"><i class="fa fa-cutlery"></i> <%= social.name %></a></h4>
                      <p><%=social.description%></p>
                      <h4 class="bigbox" style="font-weight:700;font-size: 1.5rem;color:rgb(250, 237, 212);">
                         <em><i class="fa fa-user"></i> Submitted By : </em><%=social.author.username%></h4>
          <% if(currentUser&&social.author.id.equals(currentUser._id)){%> 
                         <a class="bigbox btn btn-warning" href="/socials/<%=social._id%>/edit">Edit</a>
    <form id="deleteForm" action="/socials/<%= social._id %>?_method=DELETE" method="post">
    <button class="bigbox btn btn-danger">Delete</button>
    </form>
    <% }  %> 
                  </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <br>
                    <a class="bigbox btn btn" style="background-color: #000000;color: rgb(255, 255, 255);border: 2px solid rgba(255, 255, 255);box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);font-weight: 600;" href="/socials/<%=social._id%>/comments/new">Add a comment <i class="fa fa-comments"></i>  </a>
                </div> 
                <hr>
                    <% social.comments.forEach((comment)=>{%>
                        <div class="row">
                            <div class="col-md-12" style="background-color: rgba(0, 0, 0,0.80);">
                               <strong style="color: whitesmoke;font-weight: 700;font-size: 1.8rem;"><i class="fa fa-user"></i> <%= comment.author.username%></strong> 
                                <span class="pull-right" id="p1" style="color: rgb(240, 231, 231)"></span>
                                <p style="color: white"><i class="fa fa-comment"></i> <%= comment.text%></p>
                                <% if(currentUser&&comment.author.id.equals(currentUser._id)){%>
                            <a class="bigbox btn btn-warning" 
                            href="/socials/<%=social._id%>/comments/<%= comment._id %>/edit">
                            Edit</a>
                            <form id="deleteForm" action="/socials/<%= social._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                                <button class="bigbox btn btn-danger">Delete</button>
                                </form>
                                <% }  %> 
                            </div>
                        </div>
                       
                                -
                               
                           
                    <%});%>
                    
                
            </div>
        </div>
    </div>
</div>
<script>

    document.getElementById("p1").innerHTML = Date();

    var currentDate = new Date();

    document.getElementById("p2").innerHTML = currentDate;

</script>



    

<%- include("../partials/footer") %>  

